.about_img{
    border-radius: 20px;
}
.text_head{
    font-family: 'Lato', sans-serif; 
    opacity: 0.9;
    margin-top: 20px;
}
.text > p{
    font-family: 'Raleway',sans-serif;
    margin: 10px auto;
    color: rgb(182, 182, 182);
    font-style: italic;
}
.about{
    scroll-margin-top: 100px; 
}