.text1 { color: #b9b591; font-family: 'Trocchi', serif; font-size: 45px; font-weight: normal; line-height: 48px; margin: 0; }
.text2 { color: #4c4a37; font-family: 'Source Sans Pro', sans-serif; font-size: 18px; line-height: 32px; margin: 0 0 24px; }

.portfolio2{
    scroll-margin-top: 100px; 

}
.portfolio:hover{
    background-color: green;
    border: 1px solid green;
}